@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

$primary-font: 'Roboto', sans-serif;
$menu-font: 'Raleway', sans-serif;

$bg-color--light: #f5f5f5;
$bg-color--gray: #e8e8e8;
$bg-color--dark: #1c1c1c;
$black-color: #000;
$primary-color: #7c4dff;
$white-color: #fff;

$font-color--main: #232323;
$font-color--desc: #666;

$medium-screen--width: 942px;

* {
    box-sizing: border-box;
}

@mixin font-fmt($_font-size, $_margin-y-size) {
    font-size: $_font-size;
    text-transform: uppercase;
    margin: 0;
    padding-top: $_margin-y-size;
    padding-bottom: $_margin-y-size;
}

html,
body {
    background-color: $bg-color--light;
    font: 10px $primary-font;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}


.container {
    margin: 3rem 12%;
}

.event {
    border-left: 2px dashed $bg-color--dark;
    word-break: break-all;
    i {
        font-size: 7.4rem;
        border-radius: 50%;
        margin: auto;
    }
    &__mark {
        border: .7rem solid $font-color--desc;
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
    }

    &__header {
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        width: 60%;
        margin: 1.5rem;
        margin-left: auto;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            border-style: solid;
            border-width: 0.7rem;
            border-color: $primary-color $primary-color transparent transparent;
            transform: translate(-100%, 0);
        }
    }
    &__content {
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        padding: 0 2rem;
        padding-bottom: 2rem;
        width: 80%;
        margin: 1.5rem;
        margin-left: auto;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            border-style: solid;
            border-width: 0.7rem;
            border-color: transparent transparent $white-color $white-color;
            left: 0;
            transform: translate(0, -100%);
        }
    }
}

.profile-wrapper {
    .profile {
        width: 105px;
        height: 105px;
        display: block;
        border: 5px solid $white-color;
        box-shadow: 0 0 5px $bg-color--dark;
        border-radius: 50%;
        margin: auto;
    }

    .profile__bar {
        margin: 2rem auto;
        width: 60px;
        border-bottom: 3px solid $primary-color;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            border-style: solid;
            border-width: 0.7rem;
            border-color: $primary-color $primary-color transparent transparent;
            left: 50%;
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }
}

section {
    margin-bottom: 6rem;
    &#feedback {
        h5 {
            margin: 3rem 0;
        }

        i {
            margin: 3rem 0;
        }
    }
}

p {
    @include font-fmt(1.2rem, 0rem);
    line-height: 2rem;
    text-transform: initial;
}

// i {
//     color: $primary-color;
//     // height: 100%;
//     float: left;
//     font-size: 2rem;
//     margin-top: -4px;
//     padding: 0 16px;
// }

i {
    @include font-fmt(1.6rem, 0rem);
    line-height: 2.4rem;
    color: $bg-color--dark;
    text-transform: initial;
}


h3 {
    @include font-fmt(2.4rem, 4.5rem);
}

h4 {
    @include font-fmt(1.6rem, 2rem);
}

h5 {
    @include font-fmt(1.4rem, 1.5rem);
}

.btn {
    display: block;
    cursor: pointer;
    margin: .5rem;
    background-color: $white-color;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .6);
    &-thin {
        width: 30px;
        height: 5px;
        &.active, &:hover, &:active {
            background-color: $primary-color;
        }
    }
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

.font-xl {
    font-weight: 500;
}

.font-xxl {
    font-weight: 700;
}

.bg-purple {
    background-color: $primary-color;
}

.bg-white {
    background-color: $white-color;
}

.text-white {
    color: $white-color;
}

.text-gray {
    color: $font-color--desc;
}

.m-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-start {
    align-content: start;
}

.flex-around {
    justify-content: space-around;
}

.flex-middle {
    align-content: center;
}

.relative {
    position: relative;
}

.sm-6 {
    width: 50%;
    padding: 0 10px;
}

.sm-12 {
    width: 100%;
    padding: 0 10px;
}

@media (min-width: $medium-screen--width) {
    .md-4 {
        width: 33.3%;
        padding: 0 10px;
    }

    .md-6 {
        width: 50%;
        padding: 0 10px;
    }

    .md-12 {
        width: 100%;
        padding: 0 10px;
    }
}

.fill {
    background-color: $bg-color--gray;
}

@for $j from 1 through 100 {
    .w-#{$j}{
        width: 0% + $j;
    }
}

@for $j from 1 through 100 {
    .l-#{$j}{
        left: 0% + $j;
    }
}
