@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");
@import "./scss/variables.scss";
@import "./scss/variables.scss";

nav {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 7rem;
  padding: 0 1.2rem;
  text-transform: uppercase;

  .logo {
    @include nav-fmt(2.8rem);
  }

  .menu {
    @include nav-fmt(1.4rem);
    margin-left: auto;
    padding-right: 7.2rem;
    position: relative;

    .menu__bar {
      margin: 0;
      display: none;
    }

    .menu__action {
      background: $primary-color;
      border-radius: 50%;
      bottom: -6rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.13), 0 6px 10px rgba(0, 0, 0, 0.3);
      color: $white-color;
      display: inline-block;
      font-size: 4rem;
      height: 6rem;
      line-height: 6rem;
      position: absolute;
      right: 1rem;
      text-align: center;
      width: 6rem;
    }

    .menu__action:hover {
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.13), 0 9px 15px rgba(0, 0, 0, 0.3);
    }
  }
  @media only screen and (min-width: $medium-screen--width) {
    padding: 0 6rem;
    .menu {
      .menu__btn {
        display: none;
      }

      .menu__bar {
        display: flex;
        .menu__item {
          font-size: 1.4rem;
          height: 7rem;
          line-height: 7rem;
          list-style: none;
          padding: 0 2rem;
          &:hover {
            cursor: pointer;
            border-bottom: 5px solid rgb(124, 77, 255);
          }
        }
      }
      .menu__action {
        bottom: -3rem;
      }
    }
  }
}

section {
  padding: 7.2rem 2.7rem 0;
  h1 {
    @include heading-fmt(5rem, 6rem);
  }

  h2 {
    @include heading-fmt(2.2rem, 2.6rem);
    margin: 0 0 3.6rem 0;
  }

  h3 {
    @include heading-fmt(2rem, 2.6rem);
    margin: 0 0 3.2rem 0;
  }

  h5 {
    @include heading-fmt(1.5rem, 3.2rem);
    margin: 0 0 2.4rem 0;
  }

  p {
    color: $font-color--desc;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .section__button {
    margin: 4.8rem 0 2.4rem 0;

    .button {
      border: none;
      border-radius: 0.3rem;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      cursor: pointer;
      font-size: 1.5em;
      line-height: 2.6em;
      margin-bottom: 1.2rem;
      margin-right: 3.2rem;

      text-transform: uppercase;
      width: 100%;

      &--purple {
        background-color: $primary-color;
        color: $white-color;
      }

      &--white {
        background-color: $white-color;
      }

      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
      }
      @media only screen and (min-width: $medium-screen--width) {
        width: auto;
        padding: 0 2.9rem;
      }
    }
  }

  .section__img {
    display: block;
    margin: 0 auto;
    max-height: 25.6rem;
    @media only screen and (min-width: $medium-screen--width) {
      max-height: 65rem;
    }
  }

  .list-text {
    color: $font-color--desc;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 1rem;
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 1.2rem;
    }
  }
  @media only screen and (min-width: $medium-screen--width) {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    .aside--left {
      box-sizing: border-box;
      padding-right: 1.5rem;
      display: inline-block;
      width: 42%;
    }
    .aside--right {
      box-sizing: border-box;
      display: inline-block;
      width: 42%;
    }
  }
}

.show {
  display: block;
  @media only screen and (min-width: $medium-screen--width) {
    display: flex;
  }
}
